@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&display=swap');


a, label, button {
    font-family: 'Inter Tight', sans-serif;
}


.imagenUno{
    width: 60%;
}

.imgLogo{
    width: 15%;
    margin-right: 25px;
}

.ciasurImg{
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 370px;
}

.imgCircuito{
  width:45vw;
  margin-top: 10px;
  margin-left: -90px;
}


@keyframes crazy {
  0%   {transform: translateX(0); background: white;}
  25%  {transform: translatey(200px); background: red;}
  50%  {transform: translateX(100px); background: blue;}
  75%  {transform: translateY(200px); background: black;}
  100% {transform: translateX(0); background: white;}
}

/* Plano cartesiano e marcações */
.cartesiano {
  width: 200px;
  height: 200px;
  margin-left: 200px;
  border-left: 4px solid #616161;
  border-top: 4px solid #616161;
  background-color:#ccc;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  color: #616161;
}
.y100px {
  position: absolute;
  left: -50px;
  top: 95px;
}

.y200px {
  position: absolute;
  left: -50px;
  top: 195px;
}

.y300px {
  position: absolute;
  left: -50px;
  top: 295px;
}

.x100px {
  position: absolute;
  top: -25px;
  left: 80px;
}

.x100px {
  position: absolute;
  top: -25px;
  left: 80px;
}

.x200px {
  position: absolute;
  top: -25px;
  left: 180px;
}

.x300px {
  position: absolute;
  top: -25px;
  left: 280px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .rele-1{
    position: relative;
    bottom: 160px;
    right: 50px;
  }

 .rele-2{
  position: relative;
  bottom: 160px;
  left: 140px;
 }

 .rele-3{
  position: relative;
  bottom: 160px;
  left: 198px;
 }

 .rele-4{
  position: relative;
  bottom: 160px;
  left: 262px;
 }

 .rele-5{
  position: relative;
  bottom: 160px;
  left: 290px;
 }